# Ignore all data folders
**/data/

# Ignore R history files
*.Rhistory

# Ignore R session files
*.RData
*.Ruserdata
*.Rproj
*.Rproj.user

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore hidden system files (e.g., macOS)
.DS_Store
Thumbs.db

# Ignore env
*.Renviron

# Txt
*code.txt

# Ignore config files
*.yml
*.yaml


